name = "tetsudou"
compatibility_date = "2023-12-01"
node_compat = true

# [vars]
# MY_VARIABLE = "production_value"

[[kv_namespaces]]
binding = "TETSUDOU"
id = "7e26e8aeb0734e4fac90858a80929ac6"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""
